/*
* @Author: Administrator
* @Date:   2018-03-17 09:57:44
* @Last Modified by:   Administrator
* @Last Modified time: 2018-03-16 16:40:59
*/
.box{
    width: 356px;
	height: 737px;
    background: -webkit-linear-gradient(top, #26252a,#27262c,#222126);
	background: -moz-linear-gradient(top, #26252a,#27262c,#222126);
	background: -ms-linear-gradient(top, #26252a,#27262c,#222126);
	background: -o-linear-gradient(top, #26252a,#27262c,#222126);
	background: linear-gradient(top, #26252a,#27262c,#222126);
    margin: 0 auto;
    border-radius: 28px;
   border: 1px solid #39383e;
    box-shadow: 0 0 5px 2px #fff inset;
    position: relative;
}
.xian{
	width: 356px;
	height: 4px;
	margin-top: 50px;
	background: linear-gradient(0,#222126,#424147,#7c7b83,#424147,#222126);
	
}
.she{
	width: 58px;
	height: 173px;
	margin: 0 auto;
}
.tubiao{
	width: 54px;
	height: 32px;
	margin: 323px auto 0;
}
.xian1{
	width: 356px;
	height: 4px;
	margin-top:95px;
	background: linear-gradient(0,#222126,#424147,#7c7b83,#424147,#222126);
}
